<%= link_to "Novo Contato", new_contact_path, class: 'btn btn-default', "data-no-turbolink": true %>
<br>
<br>
<table class="table table-striped">
  <tr>
    <th>Email</th>
    <th>Nome</th>
    <th>Outras informações</th>
  </tr>
  <% @contacts.each do |contact| %>
    <tr>
      <td><%= contact.email %></td>
      <td><%= contact.name %></td>
      <td>
        <dl class="dl-horizontal">
          <% contact.custom_field_values.each do |custom_value| %>
             <dt class='col-sm-4'><%= custom_value.label %> :</dt>
             <dd class='col-sm-8'><%= custom_value.value %></dd>
          <% end %>
        </dl>
      </td>
    </tr>
  <% end %>
</table>
